<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--fit for mobile end-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/mystyle.css">
</head>
<body>


    <!--导航-->
    <!--navigator-->
    <nav th:replace="admin/_fragments :: menu(1)" class="ui inverted vertical segment m-padding-tb-tiny m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h1 class="ui pink header item">Admin</h1>
                <!--导航菜单-->
                <!--navigation menu-->
                <a href="#" class="active m-item item m-mobile-hide"><i class="tiny home icon"></i>Blogs</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tiny idea icon"></i>Types</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tiny tags icon"></i>Tags</a>
                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="../static/images/avatar.png" alt="" class="ui avatar image">Sunny Ping
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" th:href="@{/admin/logout}" class="item">Sign Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--移动端菜单-->
        <!--sidebar of mobile end-->
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--二级导航-->
    <!--secondary navigation bar-->
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/blogs/input}" class="item">Post</a>
                <a href="#" th:href="@{/admin/blogs}" class="active pink item">List</a>
            </div>
        </div>
    </div>


    <!--中间部分内容-->
    <!--main content-->
    <div class="m-container-small m-padding-tb-big">
        <div class="ui container">

            <!--查询表单-->
            <!--search form-->
            <div class="ui secondary segment form">
                <input type="hidden" name="page">
                <div class="inline fields">
                    <!--标题-->
                    <!--title-->
                    <div class="field">
                        <input type="text" name="title" placeholder="Title">
                    </div>
                    <!--分类-->
                    <!--type-->
                    <div class="field">
                        <div class="ui labeled action input">
                            <div class="ui type selection dropdown">
                                <input type="hidden" name="typeId">
                                <i class="dropdown icon"></i>
                                <div class="default text">Type</div>
                                <div class="menu">
                                    <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">Blog</div>
                                    <!--/*-->
                                    <div class="item" data-value="2">Note</div>
                                    <div class="item" data-value="3">Diary</div>
                                    <!--*/-->
                                </div>
                            </div>
                            <button id="clear-btn" class="ui compact button">Clear</button>
                        </div>

                    </div>
                    <!--是否推荐-->
                    <!--if recommend-->
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="recommend" name="recommend">
                            <label for="recommend">Recommend</label>
                        </div>
                    </div>
                    <!--搜索按钮-->
                    <!--search button-->
                    <div class="field">
                        <button type="button" id="search-btn" class="ui pink basic button"><i class="search icon"></i>Search</button>
                    </div>
                </div>
            </div>
            <!--博客列表-->
            <!--list of blogs-->
            <div id="table-container">
                <table th:fragment="blogList" class="ui compact pink table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Recommend</th>
                        <th>Status</th>
                        <th>Update Time</th>
                        <th>Operation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="blog,iterStat : ${page.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${blog.title}">My First Blog</td>
                        <td th:text="${blog.type.name}">Blog</td>
                        <td th:text="${blog.recommend} ? 'Yes':'No'">Yes</td>
                        <td th:text="${blog.publish} ? 'Published':'Draft'">Draft</td>
                        <td th:text="${blog.updateTime}">08-01-2018 17:00</td>
                        <td>
                            <a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" class="ui tiny pink basic button">Edit</a>
                            <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="ui tiny red basic button">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="ui tiny pagination menu" th:if="${page.totalPages}>1">
                                <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="item" th:unless="${page.first}">Prev</a>
                                <a onclick="page(this)" th:attr="data-page=${page.number}+1" class="item" th:unless="${page.last}">Next</a>
                            </div>
                            <a href="#" th:href="@{/admin/blogs/input}" class="ui tiny right floated pink basic button">Add</a>
                        </th>
                    </tr>
                    </tfoot>
                </table>

                <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                    <i class="close icon"></i>
                    <div class="header">Congratulations,</div>
                    <p th:text="${message}">The new blog has been posted!</p>
                </div>
            </div>


        </div>
    </div>
    <br>
    <br>


    <!--底部-->
    <!--footer-->
    <footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padding-tb-massive">
        <div class="ui center aligned container">

            <!--底部导航栏-->
            <!--three grid content-->
            <div class="ui divided stackable grid">
                <!--社群-->
                <!--community-->
                <div class="four wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-small">Community</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">CSDN</a>
                        <a href="#" class="item">github</a>
                        <a href="#" class="item">RPI</a>
                    </div>
                </div>
                <!--联系方式-->
                <!--contact-->
                <div class="four wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-small">Contact</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Facebook</a>
                        <a href="#" class="item">LinkedIn</a>
                    </div>
                </div>
                <!--自我介绍-->
                <!--introduction-->
                <div class="eight wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-small">Sunny Ping</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-medium">This is my personal blog, where any ideas about coding and writing will be shared here!</p>
                </div>
            </div>

            <!--版权声明-->
            <!--copyright-->
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-small">Designed and developed by Sunny Ping.</p>
            <p class="m-text-thin m-text-spaced m-opacity-small">Copyright©2017-2018 All Rights Reserved.</p>
        </div>
    </footer>


    <!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->

    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown({
            on : 'hover'
        });

        // 消息提示关闭初始化
        // initialize the closing of message
        $('.message .close').on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });


        $('#clear-btn').on('click', function() {
            $('.ui.type.dropdown')
                .dropdown('clear')
            ;
        });

        function page(obj) {
            $("[name='page']").val($(obj).data("page"));
            loaddata();
        }

        $("#search-btn").click(function () {
            $("[name='page']").val(0);
            loaddata();
        });

        function loaddata() {
            $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search",{
                title : $("[name='title']").val(),
                typeId : $("[name='typeId']").val(),
                recommend : $("[name='recommend']").prop('checked'),
                page : $("[name='page']").val()
            });
        }

    </script>

</body>
</html>