<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--fit for mobile end-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/mystyle.css">
</head>
<body>


    <!--导航-->
    <!--navigator-->
    <nav th:replace="_fragments :: menu(1)" class="ui inverted vertical segment m-padding-tb-tiny m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h1 class="ui pink header item">Sunny</h1>
                <!--导航菜单-->
                <!--navigation menu-->
                <a href="#" class="active m-item item m-mobile-hide"><i class="tiny home icon"></i>Home</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tiny idea icon"></i>Types</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tiny tags icon"></i>Tags</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tiny clone icon"></i>Archive</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tiny info icon"></i>About Me</a>

                <!--搜索框-->
                <!--search bar-->
                <div class="right m-item item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <!--移动端菜单-->
        <!--sidebar of mobile end-->
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>


    <!--中间部分内容-->
    <!--main content-->
    <div class="m-container m-padding-tb-big">
        <div class="ui container">
            <div class="ui stackable grid">

                <!--左边，博客列表-->
                <!--left side of the main content, list of blogs-->
                <div class="eleven wide column">
                    <!--头部，博客、共X篇-->
                    <!--header, blog & count of blogs-->
                    <div class="ui top attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h2 class="ui pink header">Blog</h2>
                            </div>
                            <div class="right aligned column">
                                <h2 class="ui pink header m-inline-block">1 </h2> posts
                            </div>
                        </div>
                    </div>

                    <!--具体博客列表-->
                    <!--detailed list of blogs-->
                    <div class="ui attached segment">
                        <!--单个博客-->
                        <!--single blog-->
                        <div class="ui padded vertical segment m-padding-tb-large m-padding-lr-medium-responsive">
                            <div class="ui mobile reversed stackable grid">
                                <!--文字部分-->
                                <!--text-->
                                <div class="eleven wide column">
                                    <h3 class="ui header">My First Blog</h3>
                                    <p class="m-text">This is my first blog, hello world!</p>
                                    <!--博客相关信息-->
                                    <!--info of the blog-->
                                    <div class="ui stackable grid">
                                        <!--文字信息-->
                                        <!--text info-->
                                        <div class="eleven wide column">
                                            <div class="ui tiny horizontal link list">
                                                <div class="item">
                                                    <img src="https://unsplash.it/100/100?image=838" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header">Sunny</a></div>
                                                </div>

                                                <div class="item">
                                                    <i class="calendar icon"></i> 08-01-2018
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2342
                                                </div>
                                            </div>
                                        </div>

                                        <!--标签信息-->
                                        <!--tags info-->
                                        <div class="right aligned five wide column">
                                            <a href="#" class="ui tiny basic pink button m-padding" target="_blank" >More</a>
                                        </div>
                                    </div>
                                </div>

                                <!--图片部分-->
                                <!--picture-->
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://unsplash.it/800/450?image=1067" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--单个博客-->
                        <!--single blog-->
                        <div class="ui padded vertical segment m-padding-tb-large m-padding-lr-medium-responsive">
                            <div class="ui mobile reversed stackable grid">
                                <!--文字部分-->
                                <!--text-->
                                <div class="eleven wide column">
                                    <h3 class="ui header">My First Blog</h3>
                                    <p class="m-text">This is my first blog, hello world!</p>
                                    <!--博客相关信息-->
                                    <!--info of the blog-->
                                    <div class="ui stackable grid">
                                        <!--文字信息-->
                                        <!--text info-->
                                        <div class="eleven wide column">
                                            <div class="ui tiny horizontal link list">
                                                <div class="item">
                                                    <img src="https://unsplash.it/100/100?image=838" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header">Sunny</a></div>
                                                </div>

                                                <div class="item">
                                                    <i class="calendar icon"></i> 08-01-2018
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2342
                                                </div>
                                            </div>
                                        </div>

                                        <!--标签信息-->
                                        <!--tags info-->
                                        <div class="right aligned five wide column">
                                            <a href="#" class="ui tiny basic pink button m-padding" target="_blank" >More</a>
                                        </div>
                                    </div>
                                </div>

                                <!--图片部分-->
                                <!--picture-->
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://unsplash.it/800/450?image=1067" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--单个博客-->
                        <!--single blog-->
                        <div class="ui padded vertical segment m-padding-tb-large m-padding-lr-medium-responsive">
                            <div class="ui mobile reversed stackable grid">
                                <!--文字部分-->
                                <!--text-->
                                <div class="eleven wide column">
                                    <h3 class="ui header">My First Blog</h3>
                                    <p class="m-text">This is my first blog, hello world!</p>
                                    <!--博客相关信息-->
                                    <!--info of the blog-->
                                    <div class="ui stackable grid">
                                        <!--文字信息-->
                                        <!--text info-->
                                        <div class="eleven wide column">
                                            <div class="ui tiny horizontal link list">
                                                <div class="item">
                                                    <img src="https://unsplash.it/100/100?image=838" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header">Sunny</a></div>
                                                </div>

                                                <div class="item">
                                                    <i class="calendar icon"></i> 08-01-2018
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i> 2342
                                                </div>
                                            </div>
                                        </div>

                                        <!--标签信息-->
                                        <!--tags info-->
                                        <div class="right aligned five wide column">
                                            <a href="#" class="ui tiny basic pink button m-padding" target="_blank" >More</a>
                                        </div>
                                    </div>
                                </div>

                                <!--图片部分-->
                                <!--picture-->
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img src="https://unsplash.it/800/450?image=1067" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--底部，上下翻页-->
                    <!--footer, prev & next-->
                    <div class="ui bottom attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="left aligned column">
                                <a href="#" class="ui tiny basic pink button">Prev</a>
                            </div>
                            <div class="right aligned column">
                                <a href="#" class="ui tiny basic pink button">Next</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--右边，标签、分类-->
                <!--right side of the main content, types/tags...-->
                <div class="five wide column">
                    <!--分类-->
                    <!--types-->
                    <div class="ui segments">
                        <!--分类的头部-->
                        <!--header of types-->
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="idea icon"></i>Types
                                </div>
                                <div class="right aligned column">
                                    <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--分类的内容-->
                        <!--display of types-->
                        <div class="ui attached pink segment">
                            <div class="ui fluid vertical menu">
                                <a href="#" class="item">Note <div class="ui pink left pointing label">13</div></a>
                                <a href="#" class="item">Blog <div class="ui pink left pointing label">20</div></a>
                                <a href="#" class="item">Diary <div class="ui pink left pointing label">9</div></a>
                            </div>
                        </div>
                    </div>

                    <!--标签-->
                    <!--tags-->
                    <div class="ui segments m-margin-top-large">
                        <!--标签的头部-->
                        <!--header of tags-->
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="tags icon"></i>Tags
                                </div>
                                <div class="right aligned column">
                                    <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--标签的内容-->
                        <!--display of tags-->
                        <div class="ui attached pink segment">
                            <a href="#" target="_blank" class="ui pink left pointing label m-margin-tb-tiny">CSS <div class="detail">6</div></a>
                            <a href="#" target="_blank" class="ui pink left pointing label m-margin-tb-tiny">JavaScript <div class="detail">6</div></a>
                            <a href="#" target="_blank" class="ui pink left pointing label m-margin-tb-tiny">Python <div class="detail">6</div></a>
                            <a href="#" target="_blank" class="ui pink left pointing label m-margin-tb-tiny">C++ <div class="detail">6</div></a>
                            <a href="#" target="_blank" class="ui pink left pointing label m-margin-tb-tiny">Java <div class="detail">6</div></a>
                        </div>
                    </div>

                    <!--最新推荐-->
                    <!--latest recommend-->
                    <div class="ui segments m-margin-top-large">
                        <!--最新推荐的头部-->
                        <!--header of recommend-->
                        <div class="ui secondary segment">
                            <i class="bookmark icon"></i>Recommend
                        </div>
                        <!--最新推荐的内容-->
                        <!--display of recommend-->
                        <div class="ui segment ">
                            <a href="#" target="_blank" class="m-black m-text-thin">My First Blog</a>
                        </div>
                        <div class="ui segment ">
                            <a href="#" target="_blank" class="m-black m-text-thin">My First Blog</a>
                        </div>
                        <div class="ui segment ">
                            <a href="#" target="_blank" class="m-black m-text-thin">My First Blog</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br>
    <br>


    <!--底部-->
    <!--footer-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padding-tb-massive">
        <div class="ui center aligned container">

            <!--底部导航栏-->
            <!--three grid content-->
            <div class="ui divided stackable grid">
                <!--社群-->
                <!--community-->
                <div class="four wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-small">Community</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">CSDN</a>
                        <a href="#" class="item">github</a>
                        <a href="#" class="item">RPI</a>
                    </div>
                </div>
                <!--联系方式-->
                <!--contact-->
                <div class="four wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-small">Contact</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Facebook</a>
                        <a href="#" class="item">LinkedIn</a>
                    </div>
                </div>
                <!--自我介绍-->
                <!--introduction-->
                <div class="eight wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-small">Sunny Ping</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-medium">This is my personal blog, where any ideas about coding and writing will be shared here!</p>
                </div>
            </div>

            <!--版权声明-->
            <!--copyright-->
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-small">Designed and developed by Sunny Ping.</p>
            <p class="m-text-thin m-text-spaced m-opacity-small">Copyright©2017-2018 All Rights Reserved.</p>
        </div>
    </footer>


    <!--/*/<th:block th:replace="_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->



    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        })
    </script>

</body>
</html>