<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--fit for mobile end-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tag</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/mystyle.css">
</head>
<body>

    <!--导航-->
    <!--navigator-->
    <nav class="ui inverted vertical segment m-padding-tb-tiny m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h1 class="ui pink header item">Sunny</h1>
                <!--导航菜单-->
                <!--navigation menu-->
                <a href="#" class="m-item item m-mobile-hide"><i class="tiny home icon"></i>Home</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tiny idea icon"></i>Types</a>
                <a href="#" class="active m-item item m-mobile-hide"><i class="tiny tags icon"></i>Tags</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tiny clone icon"></i>Archive</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tiny info icon"></i>About Me</a>

                <!--搜索框-->
                <!--search bar-->
                <div class="right m-item item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>

        <!--移动端菜单-->
        <!--sidebar of mobile end-->
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>

    </nav>


    <!--中间部分内容-->
    <!--main content-->
    <div class="m-container-small m-padding-tb-big">
        <div class="ui container">
            <!--头部，标签、共X篇-->
            <!--header, tag & count of blogs-->
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h2 class="ui pink header">Type</h2>
                    </div>
                    <div class="right aligned column">
                        <h2 class="ui pink header m-inline-block">1 </h2> posts
                    </div>
                </div>
            </div>

            <!--所有标签-->
            <!--all the tags-->
            <div class="ui attached segment m-padding-tb-large">
                <a href="#" target="_blank" class="ui pink left pointing large label m-margin-tb-tiny">CSS <div class="detail">6</div></a>
                <a href="#" target="_blank" class="ui left pointing large label m-margin-tb-tiny">Java <div class="detail">12</div></a>
                <a href="#" target="_blank" class="ui left pointing large label m-margin-tb-tiny">C++ <div class="detail">9</div></a>
                <a href="#" target="_blank" class="ui left pointing large label m-margin-tb-tiny">Python <div class="detail">18</div></a>
            </div>

            <!--博客列表-->
            <!--list of blogs-->
            <div class="ui top attached pink segment">
                <!--单个博客-->
                <!--single blog-->
                <div class="ui padded vertical segment m-padding-tb-large m-padding-lr-medium-responsive">
                    <div class="ui mobile reversed stackable grid">
                        <!--文字部分-->
                        <!--text-->
                        <div class="eleven wide column">
                            <h3 class="ui header">My First Blog</h3>
                            <p class="m-text">This is my first blog, hello world!</p>
                            <!--博客相关信息-->
                            <!--info of the blog-->
                            <div class="ui stackable grid">
                                <div class="row">
                                    <!--文字信息-->
                                    <!--text info-->
                                    <div class="eleven wide column">
                                        <div class="ui tiny horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=838" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">Sunny</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 08-01-2018
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2342
                                            </div>
                                        </div>
                                    </div>
                                    <!--更多信息-->
                                    <!--more info-->
                                    <div class="right aligned five wide column">
                                        <a href="#" class="ui tiny pink button m-padding m-text-thin" target="_blank" >More</a>
                                    </div>
                                </div>
                                <!--标签信息-->
                                <!--tags info-->
                                <div class="row">
                                    <div class="column">
                                        <a href="#" class="ui mini basic pink button m-padding m-text-thin">C++</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--图片部分-->
                        <!--picture-->
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://unsplash.it/800/450?image=1067" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <!--单个博客-->
                <!--single blog-->
                <div class="ui padded vertical segment m-padding-tb-large m-padding-lr-medium-responsive">
                    <div class="ui mobile reversed stackable grid">
                        <!--文字部分-->
                        <!--text-->
                        <div class="eleven wide column">
                            <h3 class="ui header">My First Blog</h3>
                            <p class="m-text">This is my first blog, hello world!</p>
                            <!--博客相关信息-->
                            <!--info of the blog-->
                            <div class="ui stackable grid">
                                <div class="row">
                                    <!--文字信息-->
                                    <!--text info-->
                                    <div class="eleven wide column">
                                        <div class="ui tiny horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=838" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">Sunny</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 08-01-2018
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2342
                                            </div>
                                        </div>
                                    </div>
                                    <!--更多信息-->
                                    <!--more info-->
                                    <div class="right aligned five wide column">
                                        <a href="#" class="ui tiny pink button m-padding m-text-thin" target="_blank" >More</a>
                                    </div>
                                </div>
                                <!--标签信息-->
                                <!--tags info-->
                                <div class="row">
                                    <div class="column">
                                        <a href="#" class="ui mini basic pink button m-padding m-text-thin">C++</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--图片部分-->
                        <!--picture-->
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://unsplash.it/800/450?image=1067" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <!--单个博客-->
                <!--single blog-->
                <div class="ui padded vertical segment m-padding-tb-large m-padding-lr-medium-responsive">
                    <div class="ui mobile reversed stackable grid">
                        <!--文字部分-->
                        <!--text-->
                        <div class="eleven wide column">
                            <h3 class="ui header">My First Blog</h3>
                            <p class="m-text">This is my first blog, hello world!</p>
                            <!--博客相关信息-->
                            <!--info of the blog-->
                            <div class="ui stackable grid">
                                <div class="row">
                                    <!--文字信息-->
                                    <!--text info-->
                                    <div class="eleven wide column">
                                        <div class="ui tiny horizontal link list">
                                            <div class="item">
                                                <img src="https://unsplash.it/100/100?image=838" alt="" class="ui avatar image">
                                                <div class="content"><a href="#" class="header">Sunny</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 08-01-2018
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 2342
                                            </div>
                                        </div>
                                    </div>
                                    <!--更多信息-->
                                    <!--more info-->
                                    <div class="right aligned five wide column">
                                        <a href="#" class="ui tiny pink button m-padding m-text-thin" target="_blank" >More</a>
                                    </div>
                                </div>
                                <!--标签信息-->
                                <!--tags info-->
                                <div class="row">
                                    <div class="column">
                                        <a href="#" class="ui mini basic pink button m-padding m-text-thin">C++</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--图片部分-->
                        <!--picture-->
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://unsplash.it/800/450?image=1067" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <!--底部，上下翻页-->
            <!--footer, prev & next-->
            <div class="ui bottom attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="left aligned column">
                        <a href="#" class="ui tiny basic pink button">Prev</a>
                    </div>
                    <div class="right aligned column">
                        <a href="#" class="ui tiny basic pink button">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>


    <!--底部-->
    <!--footer-->
    <footer class="ui inverted vertical segment m-padding-tb-massive">
        <div class="ui center aligned container">

            <!--底部导航栏-->
            <!--three grid content-->
            <div class="ui divided stackable grid">
                <!--社群-->
                <!--community-->
                <div class="four wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-small">Community</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">CSDN</a>
                        <a href="#" class="item">github</a>
                        <a href="#" class="item">RPI</a>
                    </div>
                </div>
                <!--联系方式-->
                <!--contact-->
                <div class="four wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-small">Contact</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Facebook</a>
                        <a href="#" class="item">LinkedIn</a>
                    </div>
                </div>
                <!--自我介绍-->
                <!--introduction-->
                <div class="eight wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-small">Sunny Ping</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-medium">This is my personal blog, where any ideas about coding and writing will be shared here!</p>
                </div>
            </div>

            <!--版权声明-->
            <!--copyright-->
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-small">Designed and developed by Sunny Ping.</p>
            <p class="m-text-thin m-text-spaced m-opacity-small">Copyright©2017-2018 All Rights Reserved.</p>
        </div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>


    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        })


    </script>

</body>
</html>